<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	     http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">

        <!-- 自动扫描包，实现支持注解的IOC -->
        <context:component-scan base-package="cn.wdq"/>
        <!-- spring MVC不处理静态资源，交给默认的servlet来处理 -->
        <mvc:default-servlet-handler/>
        <task:annotation-driven />
        <!-- 支持mvc注解驱动 -->
        <mvc:annotation-driven>
        	<mvc:message-converters register-defaults="true">  
		        <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
		            <constructor-arg value="UTF-8"/>  
		            <property name="writeAcceptCharset" value="false"/>  
		        </bean>  
		    </mvc:message-converters>
        </mvc:annotation-driven>
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".html"/>
    </bean>
    <!--属性占位文件引入，可以通过${属性名}获得属性文件中的内容()-->
    <!--<context:property-placeholder location="classpath:dbconfig.properties"/>-->
    <!--<context:property-placeholder location="classpath:httpclient.properties"/>-->
    <!--和上面的等价-->
    <bean id = "propertyConfigurer" class ="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
        <property name = "locations" >
            <list>
                <value>classpath:dbconfig.properties</value >
                <!--<value>classpath:httpclient.properties</value >-->
            </list >
        </property >
    </bean >
    <!--连接池配置-->
    <bean name = "transactionManager" class ="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <property name="dataSource" ref="dataSource"></property >
    </bean >

    <!-- 阿里 druid 数据库连接池 -->
    <bean id = "dataSource" class = "com.alibaba.druid.pool.DruidDataSource" destroy-method = "close" >
        <!-- 数据库基本信息配置 -->
        <property name = "url" value = "${url}" />
        <property name = "username" value = "${jdbc.username}" />
        <property name = "password" value = "${password}" />
        <property name = "driverClassName" value = "${driverClassName}" />
        <property name = "filters" value = "${filters}" />
        <!-- 最大并发连接数 -->
        <property name = "maxActive" value = "${maxActive}" />
        <!-- 初始化连接数量 -->
        <property name = "initialSize" value = "${initialSize}" />
        <!-- 配置获取连接等待超时的时间 -->
        <property name = "maxWait" value = "${maxWait}" />
        <!-- 最小空闲连接数 -->
        <property name = "minIdle" value = "${minIdle}" />
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name = "timeBetweenEvictionRunsMillis" value ="${timeBetweenEvictionRunsMillis}" />
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name = "minEvictableIdleTimeMillis" value ="${minEvictableIdleTimeMillis}" />
        <property name = "validationQuery" value = "${validationQuery}" />
        <property name = "testWhileIdle" value = "${testWhileIdle}" />
        <property name = "testOnBorrow" value = "${testOnBorrow}" />
        <property name = "testOnReturn" value = "${testOnReturn}" />
        <property name = "maxOpenPreparedStatements" value ="${maxOpenPreparedStatements}" />
        <!-- 打开 removeAbandoned 功能 -->
        <property name = "removeAbandoned" value = "${removeAbandoned}" />
        <!-- 1800 秒，也就是 30 分钟 -->
        <property name = "removeAbandonedTimeout" value ="${removeAbandonedTimeout}" />
        <!-- 关闭 abanded 连接时输出错误日志 -->
        <property name = "logAbandoned" value = "${logAbandoned}" />
    </bean >
    <!--2创建一个sql会话工程bean，指定数据源-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/><!--指定数据源-->
        <property name="typeAliasesPackage" value="cn.wdq.entities"/>
        <property name="mapperLocations" value="classpath:/mapper/*Mapper.xml"/><!--这里可以用占位符*-->
    </bean>
    <!--创建一个sqlSession对象-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
    <!--创建一个DAO的Impl对象-->
    <bean id="uIDImpl" class="cn.wdq.dao.UIDImpl">
        <property name="sqlSession" ref="sqlSession"></property>
    </bean>
    <bean id="adminDAOImpl" class="cn.wdq.dao.AdminDAOImpl">
        <property name="sqlSession" ref="sqlSession"></property>
    </bean>
    <bean id="resDAOImpl" class="cn.wdq.dao.ResDAOImpl">
        <property name="sqlSession" ref="sqlSession"></property>
    </bean>
    <bean id="indexDAOImpl" class="cn.wdq.dao.IndexDAOImpl">
        <property name="sqlSession" ref="sqlSession"></property>
    </bean>
    <bean id="blogInfoDAOImpl" class="cn.wdq.dao.BlogInfoDAOImpl">
        <property name="sqlSession" ref="sqlSession"></property>
    </bean>
    <bean id="commonDAOImpl" class="cn.wdq.dao.CommonDAOImpl">
        <property name="sqlSession" ref="sqlSession"></property>
    </bean>
    <!--自动扫描映射接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定sql会话工厂，在上面配置过的-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!--指定基础包，即自动扫描cn.wdq.mapping这个包以及他的子包下所有的映射接口类-->
        <property name="basePackage" value="cn.wdq.mapping"></property>
    </bean>
    <!-- jdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!--id是固定的，和后台dispatchServlet保持一致-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定默认编码 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 设定文件上传的最大值10MB，10*1024*1024 -->
        <property name="maxUploadSize" value="10485760"></property>
    </bean>
    <!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->
    <!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 -->
    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <!-- 遇到MaxUploadSizeExceededException异常时，自动跳转到/WEB-INF/jsp/error_fileupload.jsp页面 -->
                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">/template/pages/404.html</prop>
                <prop key="java.lang.exception">template/pages/404.html</prop>
            </props>
        </property>
    </bean>
    <!--httpClient-->

    <!--定义连接管理器-->
    <!--<bean id="connectionManager" class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager"-->
          <!--destroy-method="close">-->
        <!--&lt;!&ndash; 最大连接数 &ndash;&gt;-->
        <!--<property name="maxTotal" value="${http.maxTotal}"/>-->
        <!--&lt;!&ndash;设置每个主机最大的并发数&ndash;&gt;-->
        <!--<property name="defaultMaxPerRoute" value="${http.defaultMaxPerRoute}"/>-->
    <!--</bean>-->

    <!--定义HttpClient构建器-->

    <!--<bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder" factory-method="create">-->
        <!--<property name="connectionManager" ref="connectionManager"/>-->
    <!--</bean>-->

    <!--定义httpClient对象，该bean一定是多例的-->
    <!--<bean id="httpClient" class="org.apache.http.impl.client.CloseableHttpClient" factory-bean="httpClientBuilder"-->
          <!--factory-method="build" scope="prototype" />-->
    <!--&lt;!&ndash;定义requestConfig构建器&ndash;&gt;-->
    <!--<bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig.Builder">-->
        <!--&lt;!&ndash;设置创建连接的最长时间&ndash;&gt;-->
        <!--<property name="connectTimeout" value="${http.connectTimeout}"/>-->
        <!--&lt;!&ndash;从连接池中获取到连接的最长时间&ndash;&gt;-->
        <!--<property name="connectionRequestTimeout" value="${http.connectionRequestTimeout}"/>-->
        <!--&lt;!&ndash;数据传输的最长时间&ndash;&gt;-->
        <!--<property name="socketTimeout" value="${http.socketTimeout}"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;请求参数对象&ndash;&gt;-->
    <!--<bean class="org.apache.http.client.config.RequestConfig" factory-bean="requestConfigBuilder"-->
          <!--factory-method="build" />-->
    <!--定期清理无效连接-->
    <!--<bean class="org.apache.http.impl.client.IdleConnectionEvictor" destroy-method="shutdown">-->
        <!--<constructor-arg index="0" ref="connectionManager"/>-->
        <!--&lt;!&ndash; 间隔一分钟清理一次&ndash;&gt;-->
        <!--<constructor-arg index="1" value="60000"/>-->
    <!--</bean>-->
    <!-- 拦截器 -->
        <mvc:interceptors>  
            <!-- 多个拦截器，顺序执行 -->
            <mvc:interceptor>
                <mvc:mapping path="home/**"/>
                <bean class="cn.wdq.common.interceptor.LoginInterceptor">
                </bean>
            </mvc:interceptor>
            <!--判断是否为管理员的拦截器-->
            <mvc:interceptor>
                <mvc:mapping path="/**/*.html"/>
                <mvc:exclude-mapping path="/login.html"/>
                <mvc:exclude-mapping path="/login_error.html"/>
                <mvc:exclude-mapping path="/home/user/**" />
                <bean class="cn.wdq.common.interceptor.IsAdminInterceptor">
                </bean>
            </mvc:interceptor>
        </mvc:interceptors>
    
</beans>
