<!DOCTYPE html>
<html lang="en">
<head>
    <title>社区</title>
    <meta charset="utf-8">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="../resource/images/favicon.ico">
    <link rel="stylesheet" href="../resource/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resource/css/font-awesome.min.css">
    <link rel="stylesheet" href="../resource/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../resource/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../resource/css/hap.css">
    <link rel="stylesheet" href="../resource/css/sweetalert2.min.css">
    <link rel="stylesheet" href="../resource/css/pagination.css">
    <link rel="stylesheet" href="../resource/css/zTreeStyle/zTreeStyle.css">
    <script src="../resource/js/vue.min.js"></script>
</head>
<body style="background-color: #F6F6F6">
<div class="wrapper" id="blog_el">
    <top></top>
    <div class="container">
        <p><content_template v-model="content_data" @click="show_model">
            <ul>
                <li v-for="(item,index) in children" v-model="item">{{item}}</li>
            </ul>
        </content_template></p>

        <div class="panel col-lg-8 col-md-8" style="margin:0 0 5px 30px">
            <div class="panel-body">
                <p style="color: #8590A6">内容分类,来自:Java
                    <button type="button" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </p>
                <p>
                    <img src="../resource/images/dog_load.gif" style="width: 50px;height: 50px">
                    <label style="font-weight: 600;margin-left: 10px">测试名字</label>
                </p>
                <h4 style="font-weight: 700">测试标题123456ssswww</h4>
                <p style="cursor: pointer;color: #77839C">1,566人赞同了该回答</p>
                <p><content_template >

                </content_template></p>
                <p><a style="color: #77839C;font-size: 15px" href="javascript:void(0)">编辑于2018-02-24</a></p>
                <p style="color: #77839C">
                    <button class="btn btn-sm" style="background-color: #D9EDFF"><i class="fa fa-caret-up" style="color: #0084FF">&nbsp;&nbsp;1187</i></button>
                    <button class="btn btn-sm" style="background-color: #D9EDFF"><i class="fa fa-caret-down" style="color: #0084FF"></i></button>
                    <i class="fa fa-comment" style="cursor: pointer;margin-right: 5px;margin-left: 20px">&nbsp;&nbsp;1183条评论</i>
                    <i class="fa fa-send" style="cursor: pointer;margin-right: 5px;margin-left: 20px">&nbsp;&nbsp;分享</i>
                    <i class="fa fa-star" style="cursor: pointer;margin-right: 5px;margin-left: 20px">&nbsp;&nbsp;收藏</i>
                    <i class="fa fa-heart" style="cursor: pointer;margin-right: 5px;margin-left: 20px">&nbsp;&nbsp;感谢</i>
                    <i class="fa fa-shield" style="cursor: pointer;margin-right: 5px;margin-left: 20px">&nbsp;&nbsp;举报</i>
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="panel" style="margin:0 0 5px 0">
                <div class="panel-body">
                <span class="col-lg-4 col-md-4 fa fa-bolt" style="font-size: 25px;text-align: center;margin-top: 15px;color: #FFCF00">
                    <p style="font-size: 14px;color: #77839C;margin-top: 10px">Live</p>
                </span>
                    <span class="col-lg-4 col-md-4 fa fa-book" style="font-size: 25px;text-align: center;margin-top: 15px;color:#43D480">
                    <p style="font-size: 14px;color: #77839C;margin-top: 10px">书店</p>
                </span>
                    <span class="col-lg-4 col-md-4 fa fa-gamepad" style="font-size: 25px;text-align: center;margin-top: 15px;color:#EC6149">
                    <p style="font-size: 14px;color: #77839C;margin-top: 10px">游戏</p>
                </span>
                    <span class="col-lg-4 col-md-4 fa fa-pencil" style="font-size: 25px;text-align: center;margin-top: 15px;color:#639D3C">
                    <p style="font-size: 14px;color: #77839C;margin-top: 10px">专栏</p>
                </span>
                    <span class="col-lg-4 col-md-4 fa fa-commenting" style="font-size: 25px;text-align: center;margin-top: 15px;color:#0E88EB">
                    <p style="font-size: 14px;color: #77839C;margin-top: 10px">咨询</p>
                </span>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                <p style="color: #77839C;padding-top: 10px"><i class="fa fa-star">&nbsp;&nbsp;&nbsp;收藏</i></p>
                <p style="color: #77839C;padding-top: 10px"><i class="fa fa-question-circle">&nbsp;&nbsp;&nbsp;我关注的问题</i></p>
                <p style="color: #77839C;padding-top: 10px"><i class="fa fa-plus-square">&nbsp;&nbsp;&nbsp;我的邀请</i></p>
                <p style="color: #77839C;padding-top: 10px"><i class="fa fa-credit-card">&nbsp;&nbsp;&nbsp;我的礼券</i></p>
                <p style="color: #77839C;padding-top: 10px"><i class="fa fa-bank">&nbsp;&nbsp;&nbsp;社区服务中心</i></p>
                <p style="color: #77839C;padding-top: 10px"><i class="fa fa-copyright">&nbsp;&nbsp;&nbsp;版权服务中心</i></p>
                <p style="color: #77839C;padding-top: 10px"><i class="fa fa-edit">&nbsp;&nbsp;&nbsp;公共编辑动态</i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../resource/js/jquery.js"></script>
<script src="../resource/js/bootstrap.min.js"></script>
<script src="../resource/js/sweetalert2.js"></script>
<script src="../resource/js/vue.min.js"></script>
<script>
    var content_data={
        head_img:'<div style="font-size: 15px">网易MuMu(安卓模拟器),是网易官方推出的精品游戏服务平台</div>',
        children: [
            { name: 'hello' },
            { name: 'wat' },
            {
                name: 'child folder',
                children: [
                    {
                        name: 'child folder',
                        children: [
                            { name: 'hello' },
                            { name: 'wat' }
                        ]
                    },
                    { name: 'hello' },
                    { name: 'wat' },
                    {
                        name: 'child folder',
                        children: [
                            { name: 'hello' },
                            { name: 'wat' }
                        ]
                    }
                ]
            }
        ]
    };
    Vue.component('content_template',{
        template:content_data.head_img,
        props:{
            model:Object
        },
        methods:{
            show_model:function () {
                console.log(this.model)
            }
        }
    });
    var content_el=new Vue({
        el:"#blog_el",
        data:content_data
    });
</script>
</body>
</html>