<!DOCTYPE html>
<html lang="en">
<head>
    <title>社区</title>
    <meta charset="utf-8">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../resource/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resource/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resource/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../resource/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../resource/css/hap.css">
    <link rel="stylesheet" href="../../resource/css/sweetalert2.min.css">
    <link rel="stylesheet" href="../../resource/css/pagination.css">
    <link rel="stylesheet" href="../../resource/css/zTreeStyle/zTreeStyle.css">
    <script src="../../resource/js/vue.min.js"></script>
</head>
<style>
    .col a, .user a {
        color: grey;
        font-family: sans-serif;
        font-size: 13px;
        padding: 6px !important;
        margin-right: 14px;
        border-radius: 5px;
        cursor: pointer;
    }

    .col a.active, .user a.active {
        font-family: sans-serif;
        font-size: 13px;
        color: white;
        background-color: #0084FF;
        padding: 6px !important;
        margin-right: 14px;
        border-radius: 5px;
    }
    .panel-body p button{
        background-color: #0084FF;
    }
    th, td {
        font-size: 13px;
        text-align: center;
    }
</style>
<body style="background-color: #F6F6F6">
<div class="wrapper" id="blog_el">
    <top ref="ref_top"></top>
    <section class="content" v-cloak>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 blog-fun pull-right">
            <div class="panel box box-info" style="margin:0 0 5px 0">
                <div class="panel-body">
                <span data-toggle="modal" data-target="#question_modal" class="col-lg-4 col-md-4 fa fa-handshake-o"
                      style="font-size: 25px;text-align: center;margin-top: 15px;color: #639D3C;cursor: pointer">
                    <p style="font-size: 14px;color: #77839C;margin-top: 10px">交流</p>
                </span>
                    <span class="col-lg-4 col-md-4 fa fa-book"
                          style="font-size: 25px;text-align: center;margin-top: 15px;color:#43D480;cursor: pointer">
                    <p style="font-size: 14px;color: #77839C;margin-top: 10px">书店</p>
                </span>
                    <span class="col-lg-4 col-md-4 fa fa-gamepad"
                          style="font-size: 25px;text-align: center;margin-top: 15px;color:#EC6149;cursor: pointer">
                    <p style="font-size: 14px;color: #77839C;margin-top: 10px">游戏</p>
                </span>
                    <span class="col-lg-4 col-md-4 fa fa-bolt"
                          style="font-size: 25px;text-align: center;margin-top: 15px;color:#FFCF00;cursor: pointer">
                    <p style="font-size: 14px;color: #77839C;margin-top: 10px">Live</p>
                </span>
                    <span class="col-lg-4 col-md-4 fa fa-commenting"
                          style="font-size: 25px;text-align: center;margin-top: 15px;color:#0E88EB;cursor: pointer">
                    <p style="font-size: 14px;color: #77839C;margin-top: 10px">咨询</p>
                </span>
                </div>
            </div>
            <div class="panel hidden-sm hidden-xs">
                <div class="panel-body">
                    <p style="color: #77839C;padding-top: 10px"><i class="fa fa-star">&nbsp;&nbsp;&nbsp;收藏</i></p>
                    <p style="color: #77839C;padding-top: 10px"><i class="fa fa-question-circle">&nbsp;&nbsp;&nbsp;我关注的问题</i>
                    </p>
                    <p style="color: #77839C;padding-top: 10px"><i class="fa fa-plus-square">&nbsp;&nbsp;&nbsp;我的邀请</i>
                    </p>
                    <p style="color: #77839C;padding-top: 10px"><i class="fa fa-credit-card">&nbsp;&nbsp;&nbsp;我的礼券</i>
                    </p>
                    <p style="color: #77839C;padding-top: 10px"><i class="fa fa-bank">&nbsp;&nbsp;&nbsp;社区服务中心</i></p>
                    <p style="color: #77839C;padding-top: 10px"><i class="fa fa-copyright">&nbsp;&nbsp;&nbsp;版权服务中心</i>
                    </p>
                    <p style="color: #77839C;padding-top: 10px"><i class="fa fa-edit">&nbsp;&nbsp;&nbsp;公共编辑动态</i></p>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 blog-content">
            <div class="panel box box-info" style="margin-bottom: 10px;" v-for="blog,index in blog_info">
                <div class="panel-body">
                    <p style="color: #8590A6">内容分类,来自:{{blog.blog_classify}}
                        <!--<button type="button" class="close">
                            <span aria-hidden="true">×</span>
                        </button>-->
                    </p>
                    <p>
                        <img :src="blog_info[index].head_img" style="width: 50px;height: 50px">
                        <label style="font-weight: 600;margin-left: 10px">{{blog_info[index].user_name}}</label>
                    </p>
                    <h4 style="font-weight: 700">{{blog_info[index].blog_title}}</h4>
                    <p style="cursor: pointer;color: #77839C">{{blog_info[index].praise_num}}人赞了该话题</p>
                    <p style="font-size: 15px">{{blog.blog_content}}</p>
                    <p><a style="color: #77839C;font-size: 15px" href="javascript:void(0)">编辑于{{blog_info[index].last_time}}</a>
                    </p>
                    <p style="color: #77839C">
                        <button v-show="blog.is_praised===0" @click="praise(blog.pk_blog,index)" class="btn btn-sm" style="background-color: #D9EDFF">
                            <i class="fa fa-caret-up" style="color: #0084FF">&nbsp;&nbsp;{{blog_info[index].praise_num}}</i>
                        </button>
                        <button v-show="blog.is_praised===1" @click="praise(blog.pk_blog,index)" class="btn btn-sm" style="background-color: #0084FF">
                            <i class="fa fa-caret-up" style="color: white">&nbsp;&nbsp;{{blog_info[index].praise_num}}</i>
                        </button>
                        <button class="btn btn-sm" style="background-color: #D9EDFF"><i class="fa fa-caret-down"
                                                                                        style="color: #0084FF"></i>
                        </button>
                        <i @click="query_comment(blog_info[index].pk_blog,index)" class="fa fa-comment"
                           style="cursor: pointer;margin-right: 5px;margin-left: 20px">&nbsp;&nbsp;{{blog_info[index].comment_num}}条评论</i>
                        <!--要sql统计实现-->
                        <i class="fa fa-send"
                           style="cursor: pointer;margin-right: 5px;margin-left: 20px">&nbsp;&nbsp;分享</i>
                        <i class="fa fa-star"
                           style="cursor: pointer;margin-right: 5px;margin-left: 20px">&nbsp;&nbsp;收藏</i>
                        <i class="fa fa-heart" style="cursor: pointer;margin-right: 5px;margin-left: 20px">&nbsp;&nbsp;感谢</i>
                        <i class="fa fa-shield" style="cursor: pointer;margin-right: 5px;margin-left: 20px">&nbsp;&nbsp;举报</i>
                    </p>
                </div>
                <!--评论下的信息-->
                <div v-show="index===current_index" class="panel-footer" style="background-color: #FFFFFF" v-cloak>
                    <h5 v-show="content_data.comment_info.length===0" style="font-family:宋体;font-weight: 900">还没有评论</h5>
                    <span v-for="cm_statement,index in comment_info">
                        <img :src="cm_statement.head_img" style="width: 35px;height: 35px;margin-bottom: 10px;">
                        <label style="font-weight: 600;margin-left: 10px">{{cm_statement.user_name}}</label>
                        <i class="pull-right" style="font-size: 14px;color: #77839C;">{{cm_statement.cm_time}}</i>
                        <p>{{cm_statement.cm_content}}</p>
                    </span>
                    <span class="input-group">
                        <input :id="'cm_content'+index" type="text" class="form-control"
                               style="border-radius:5px 0 0 5px;height: auto;">
                        <!--发布评论-->
                        <span @click="save_comment(blog_info[index].pk_blog,index)" class="input-group-addon"
                              style="border-radius:0 5px 5px 0;background-color: #0077E6;color:white;cursor: pointer">发布</span>
                    </span>
                </div>
            </div>
        </div>

        <!--提问题-->
        <div class="modal fade" id="question_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="border-radius: 5px">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="questionModalLabel">提问、交流</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">标题:</label>
                                <input v-model="current_data.blog_title" type="text" class="form-control"
                                       id="question-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">描述:</label>
                                <textarea v-model="current_data.blog_content" class="form-control"
                                          id="question-text" style="min-height: 200px"></textarea>
                            </div>
                            <div class="form-group" style="margin-bottom: 0;">
                                <label class="control-label">分类:</label>
                                <input v-model="blog_classify" type="text" class="form-control" id="question-classify">
                            </div>
                            <div class="col-md-6" style="position: fixed;padding-left: 0">
                                <div v-if="blog_classify.length>0" class="list-group"
                                     style="max-height: 100px;overflow: auto;">
                                    <a @click="classify_selected(statement)" href="javascript:void(0)"
                                       class="list-group-item" v-for="statement,index in classify_new">{{statement}}</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="cancel_question" type="button" class="btn btn-default" data-dismiss="modal">取消
                        </button>
                        <button @click="save_question" type="button" class="btn btn-primary">发布</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="../../resource/js/jquery.js"></script>
<script src="../../resource/js/bootstrap.min.js"></script>
<script src="../../resource/js/sweetalert2.js"></script>
<script src="../../resource/js/components/all-top.js"></script>
<script src="../../resource/js/components/all-footer.js"></script>
<script>
    $(window).click(function () {
        content_data.is_selected = 'N';
    });
    var content_data = {
        head_img: '<div style="font-size: 15px">网易MuMu(安卓模拟器),是网易官方推出的精品游戏服务平台,安装后可在电脑上运行各类游戏与应用,具备全面兼容、操作流畅、智能辅助等特点,每天还会为您推荐火热的应用.</div>',
        current_data: {},
        blog_classify: '',//分类搜索框
        blog_info: [],
        comment_info: [],
        current_index: -1,
        classify_data: [//所有分类
            {name: "宠物技能培养"},
            {name: "宠物健康教育"},
            {name: "故事闲谈"},
            {name: "宠物图库"},
            {name: "宠物知识竞猜"},
            {name: "宠物笑话"}
        ],
        classify_new: [],//搜索框选项
        is_selected: 'N'//判断搜索框里面的元素有没有被点击
    };
    Vue.component('content_template', {
        template: content_data.head_img
    });
    var content_el = new Vue({
        el: "#blog_el",
        data: content_data,
        watch: {
            blog_classify: function (value) {
                content_data.classify_new = [];
                if (content_data.is_selected === 'N') {
                    for (var i = 0; i < content_data.classify_data.length; i++) {
                        if (content_data.classify_data[i].name.indexOf(value) !== -1) {
                            content_data.classify_new.push(content_data.classify_data[i].name)
                        }
                    }
                }
            }
        },
        methods: {
            /**
             * 算了，改成交流提问了，一个用户搞毛啊
             * */
            save_question: function () {
                var that=this;
                var is_support=true;
                if(content_data.current_data.blog_title===undefined||content_data.current_data.blog_title.trim().length===0||content_data.current_data.blog_content===undefined||content_data.current_data.blog_content.trim().length===0||content_data.blog_classify===undefined||content_data.blog_classify.trim().length===0){
                    swal({
                        text: "标题、描述、分类不能为空",
                        type: "error",
                        timer: 2000
                    });
                    return;
                }
                for(var i=0;i<content_data.classify_data.length;i++){
                    if(content_data.classify_data[i].name===content_data.blog_classify){
                        is_support=true;
                        break;
                    }else{
                        is_support=false;
                    }
                }
                if(is_support===false){
                    swal({
                        type:"error",
                        text:"请选择正确的分类",
                        //imageUrl:"../resource/images/dog_load.gif",
                        showConfirmButton: true,
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        timer:2000
                    });
                    return;
                }
                content_data.current_data = {
                    blog_title: content_data.current_data.blog_title,
                    blog_content: content_data.current_data.blog_content,
                    blog_classify: content_data.blog_classify,
                    cuserid: topDatas.userInfo.cuserid,
                    user_name: topDatas.userInfo.user_name,
                    head_img: topDatas.userInfo.head_img
                };
                $.ajax({
                    url: '/gcbin/save_question',
                    data: JSON.stringify(content_data.current_data),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (result) {
                        if (result.success) {
                            content_data.current_data = {};//清空内容
                            $("#cancel_question").click();//关掉modal
                            content_data.blog_info.push(content_data.current_data);
                            that.query_blog();
                            swal({
                                text: "发布成功",
                                type: "success",
                                timer: 1000
                            });
                        }

                    }
                });
            },
            query_blog: function () {
                $.ajax({
                    url: '/gcbin/query_blog',
                    data:JSON.stringify({user_name:topDatas.userInfo.user_name}),//其实是传不到值的，this.query_blog()在top组件初始化前执行，在后台session取值
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (result) {
                        content_data.blog_info = result.data;
                        for (var i = 0; i < content_data.blog_info.length; i++) {
                            if (content_data.blog_info[i].head_img === null || content_data.blog_info[i].head_img === "") {
                                Vue.set(content_data.blog_info[i], "head_img", "../../resource/images/user_head_test.jpg");
                                //topDatas.head_image="../resource/images/user_head_test.jpg";
                            }
                        }
                    }
                });
            },
            query_comment: function (pk_blog, index) {
                swal({
                    //text:"加载中...",
                    imageUrl: "../../resource/images/preloader.gif",
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                });
                content_data.comment_info = [];//先返回
                content_data.current_index = index;
                $.ajax({
                    url: '/gcbin/query_comment',
                    data: JSON.stringify({"pk_blog": pk_blog}),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',//不指定为json时，默认为String类型
                    success: function (result) {
                        content_data.comment_info = result.data;
                        Vue.set(content_data.blog_info[index], 'comment_num', content_data.comment_info.length);//以评论区的数量为真实数量
                        for (var i = 0; i < content_data.comment_info.length; i++) {
                            if (content_data.comment_info[i].head_img === null || content_data.comment_info[i].head_img === undefined || content_data.comment_info[i].head_img === "") {
                                Vue.set(content_data.comment_info[i], "head_img", "../../resource/images/user_head_test.jpg");
                                //topDatas.head_image="../resource/images/user_head_test.jpg";
                            }
                        }
                        setTimeout(function () {
                            swal.close();
                        },300);

                    }
                });
            },
            /**
             * 保存评论
             * */
            save_comment: function (pk_blog, index) {
                var that = this;
                var cm_content = $("#cm_content" + index).val();
                if(cm_content===undefined||cm_content.trim().length===0){
                    swal({
                        text:'未输入任何内容',
                        type:'error'
                    });
                    return;
                }
                content_data.current_data = {//评论时间在后台取
                    //cuserid:topDatas.userInfo.cuserid,
                    //看看cm_content能不能直接在v-for里面取到唯一的(不能)
                    cm_content: cm_content,
                    user_name: topDatas.userInfo.user_name,
                    head_img: topDatas.userInfo.head_img,
                    pk_blog: pk_blog
                };
                $.ajax({
                    url: '/gcbin/save_comment',
                    data: JSON.stringify(content_data.current_data),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',//不指定为json时，默认为String类型
                    success: function (result) {
                        that.query_comment(pk_blog, index);
                        $("#cm_content" + index).val("");//清空评论输入框内容
                        Vue.set(content_data.blog_info[index], 'comment_num', content_data.blog_info[index].comment_num + 1);
                    }
                });
            },
            classify_selected: function (resdata) {
                Vue.set(content_data, 'blog_classify', resdata);
                Vue.set(content_data, 'is_selected', 'Y');//执行顺序：1
                Vue.set(content_data, 'classify_new', []);//打字内容跟选择内容一样时，将不会执行watch里面的function
            },
            /**
             * 点赞
             * */
            praise:function (pk_blog,index) {
                $.ajax({
                    url:'/gcbin/save_praise',
                    data:JSON.stringify({"pk_blog":pk_blog,user_name:topDatas.userInfo.user_name,}),
                    type:'POST',
                    dataType:'json',
                    contentType:'application/json;charset=utf-8',
                    success:function (result) {
                        if(result.success){
                            Vue.set(content_data.blog_info[index],'praise_num',content_data.blog_info[index].praise_num+1);
                            Vue.set(content_data.blog_info[index],'is_praised',1);//可以动态改变v-show的状态
                        }else{
                            Vue.set(content_data.blog_info[index],'praise_num',content_data.blog_info[index].praise_num-1);
                            Vue.set(content_data.blog_info[index],'is_praised',0);
                        }

                    }
                });
            }
        },
        mounted: function () {
            this.$refs.ref_top.switch_nav("20");
            this.query_blog();
        }
    });
</script>
</body>
</html>