<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login.html</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <link rel="shortcut icon" href="resource/images/favicon.ico"><!--当前目录下-->
      <link rel="stylesheet" href="resource/css/bootstrap.css">
      <link rel="stylesheet" href="resource/css/font-awesome.min.css">
      <link rel="stylesheet" href="resource/css/AdminLTE.min.css">
      <link rel="stylesheet" href="resource/css/skins/_all-skins.min.css">
      <!--<link rel="stylesheet" href="resource/css/hap.css">-->
      <link rel="stylesheet" href="resource/css/sweetalert2.min.css">
      <script src="resource/js/vue.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
  <div class="content" id="login_config">
      <div class="header">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
          <h1 style="color: #2BB8AA;font-family: '华文楷体';font-weight:bolder;margin: 0 0 0 0">宠物社区</h1>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
          <p style="color: #2BB8AA;font-family: '华文楷体';font-weight:bolder;margin-bottom: 0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pets&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;community</p>
      </div>
      <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
      <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4">
          <img src="resource/images/left.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">
                  <div class="bs-example bs-example-form" style="padding-top:25%">
                      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-8 input-group" >
                          <div class="input-group">
                              <span class="input-group-addon " style="border-radius: 10px 0 0 10px"><i class="fa fa-users"></i></span>
                              <input v-model="currentInfo.user_name" class="col-xs-10 col-sm-6 col-md-6 col-lg-8  form-control" style="border-radius:0 10px 10px 0" type="text" name="user_name" placeholder="用户名...">
                          </div>
                      </div>
                      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-8 input-group" style="padding-top: 10px;">
                          <div class="input-group" >
                              <span class="input-group-addon" style="border-radius: 10px 0 0 10px"><i class="fa fa-key"></i></span>
                              <input v-model="currentInfo.password" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-control" style="border-radius:0 10px 10px 0" type="password" name="password" placeholder="密码...">
                          </div>
                      </div>
                      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-8 input-group" style="padding-top: 30px;">
                          <button id="login" @click="querylogin()" class="col-xs-12 col-sm-6 col-md-6 col-lg-8 form-control" style="background-color: #2DB8AA;border-radius: 5px">
                              <a style="color: white">登陆</a>
                          </button>
                      </div>
                      <div class="col col-xs-12 col-sm-12 col-md-4 col-lg-8 input-group" style="padding-top: 15px;">
                          <p style="color: #666">还没有账号？<a data-toggle="modal" data-target="#register_modal" style="color: #2bb8aa;cursor: pointer">免费注册</a></p>
                          <p style="color: #666">——————用合作网账号登录——————</p>
                          <p style="text-align: center">
                              <i class="fa fa-qq" style="padding-right: 20px;cursor: pointer;color: #0188FB"></i>
                              <i class="fa fa-wechat" style="padding-right: 20px;cursor: pointer;color: #8EE153"></i>
                              <i class="fa fa-chrome" style="padding-right: 20px;cursor: pointer;color:#1AA260;"></i>
                              <i class="fa fa-weibo" style="padding-right: 20px;cursor: pointer;color: #CC0001"></i>
                              <i class="fa fa-renren" style="padding-right: 20px;cursor: pointer;color: #006ECE"></i>
                          </p>
                      </div>
                  </div>
          <!--<div class="bs-example bs-example-form">
              <input type="text" v-model="currentInfo.user_name">
              <input type="text" v-model="currentInfo.password">
              <button @click="querylogin()">试试</button>
          </div>-->

      </div>
      </div>
      <div class="col-lg-8 col-md-8 main-footer" style="margin-top: 80px">
          <p style="color: #999">Copyright © 1995-2018 Waldon. All Rights Reserved.<i class="fa fa-envira" ></i></p>

      </div>
      <div class="modal fade" id="register_modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
              <div class="modal-content" style="border-radius: 5px">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h3 style="color: #2BB8AA;font-family: '华文楷体';font-weight:bolder;margin: 0 0 0 0" class="modal-title" id="registerModalLabel">注册</h3>
                  </div>
                  <div class="modal-body">
                      <div class="input-group" style="margin-bottom: 20px;">
                          <span class="input-group-addon" style="border-radius: 10px 0 0 10px"><i class="fa fa-user"></i></span>
                          <input type="text" id="name" class="form-control" placeholder="用户名..." value="" style="border-radius:0 10px 10px 0">
                      </div>
                      <div class="input-group" style="margin-bottom: 20px;">
                          <span class="input-group-addon" style="border-radius: 10px 0 0 10px"><i class="fa fa-key"></i></span>
                          <input type="password" id="pwd" class="form-control" placeholder="请输入密码" value="" style="border-radius:0 10px 10px 0">
                      </div>
                      <div class="input-group" style="margin-bottom: 20px;">
                          <span class="input-group-addon" style="border-radius: 10px 0 0 10px"><i class="fa fa-key"></i></span>
                          <input type="password" id="pwd2" class="form-control" placeholder="请确认密码" value="" style="border-radius:0 10px 10px 0">
                      </div>
                      <div class="input-group" style="margin-bottom: 0;">
                          <span class="input-group-addon" style="border-radius: 10px 0 0 10px"><i class="fa fa-globe"></i></span>
                          <input type="text" class="form-control" v-model="search_text" id="district" placeholder="所在地区" style="border-radius:0 10px 10px 0">
                      </div>
                      <div class="col-md-9" style="position: fixed;">
                          <div v-if="search_text.length>0" class="list-group" style="max-height: 100px;overflow: auto;margin-left: 22px;">
                              <a @click="search_selected(statement)" href="javascript:void(0);"
                                 class="list-group-item" v-for="statement,index in new_data">{{statement}}</a>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button id="cancel_modal" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                      <button @click="register" type="button" class="btn btn-primary" >注册</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script src="resource/js/jquery.min.js"></script>
  <script src="resource/js/bootstrap.min.js"></script>
  <script src="resource/js/sweetalert2.js"></script>
  <script src="resource/js/core.js"></script>
  <!--<script src="resource/js/promise.js"></script>-->
  <script>
      $(window).keydown(function (event) {
          if(event.which===13){
              loginVue.querylogin();
          }
      });
      $(window).click(function () {
          loginDatas.is_selected="N";//执行顺序：3
      });
      var contextPath=getCookie('contextPath');
      function getCookie(cname) {
          var name = cname + "=";
          var ca = document.cookie.split(';');
          for (var i = 0; i < ca.length; i++) {
              var c = ca[i].trim();
              if (c.indexOf(name) === 0)
                  return c.substring(name.length, c.length);
          }
          return "";
      }
      var loginDatas={
          currentInfo:{},
          userInfo:[],
          search_text:"",
          is_selected:"N",
          data:[
              {name: '海门', value: 9},
              {name: '鄂尔多斯', value: 12},
              {name: '招远', value: 12},
              {name: '舟山', value: 12},
              {name: '齐齐哈尔', value: 14},
              {name: '盐城', value: 15},
              {name: '赤峰', value: 16},
              {name: '青岛', value: 18},
              {name: '乳山', value: 18},
              {name: '金昌', value: 19},
              {name: '泉州', value: 21},
              {name: '莱西', value: 21},
              {name: '日照', value: 21},
              {name: '胶南', value: 22},
              {name: '南通', value: 23},
              {name: '拉萨', value: 24},
              {name: '云浮', value: 24},
              {name: '梅州', value: 25},
              {name: '文登', value: 25},
              {name: '上海', value: 25},
              {name: '攀枝花', value: 25},
              {name: '威海', value: 25},
              {name: '承德', value: 25},
              {name: '厦门', value: 26},
              {name: '汕尾', value: 26},
              {name: '潮州', value: 26},
              {name: '丹东', value: 27},
              {name: '太仓', value: 27},
              {name: '曲靖', value: 27},
              {name: '烟台', value: 28},
              {name: '福州', value: 29},
              {name: '瓦房店', value: 30},
              {name: '即墨', value: 30},
              {name: '抚顺', value: 31},
              {name: '玉溪', value: 31},
              {name: '张家口', value: 31},
              {name: '阳泉', value: 31},
              {name: '莱州', value: 32},
              {name: '湖州', value: 32},
              {name: '汕头', value: 32},
              {name: '昆山', value: 33},
              {name: '宁波', value: 33},
              {name: '湛江', value: 33},
              {name: '揭阳', value: 34},
              {name: '荣成', value: 34},
              {name: '连云港', value: 35},
              {name: '葫芦岛', value: 35},
              {name: '常熟', value: 36},
              {name: '东莞', value: 36},
              {name: '河源', value: 36},
              {name: '淮安', value: 36},
              {name: '泰州', value: 36},
              {name: '南宁', value: 37},
              {name: '营口', value: 37},
              {name: '惠州', value: 37},
              {name: '江阴', value: 37},
              {name: '蓬莱', value: 37},
              {name: '韶关', value: 38},
              {name: '嘉峪关', value: 38},
              {name: '广州', value: 38},
              {name: '延安', value: 38},
              {name: '太原', value: 39},
              {name: '清远', value: 39},
              {name: '中山', value: 39},
              {name: '昆明', value: 39},
              {name: '寿光', value: 40},
              {name: '盘锦', value: 40},
              {name: '长治', value: 41},
              {name: '深圳', value: 41},
              {name: '珠海', value: 42},
              {name: '宿迁', value: 43},
              {name: '咸阳', value: 43},
              {name: '铜川', value: 44},
              {name: '平度', value: 44},
              {name: '佛山', value: 44},
              {name: '海口', value: 44},
              {name: '江门', value: 45},
              {name: '章丘', value: 45},
              {name: '肇庆', value: 46},
              {name: '大连', value: 47},
              {name: '临汾', value: 47},
              {name: '吴江', value: 47},
              {name: '石嘴山', value: 49},
              {name: '沈阳', value: 50},
              {name: '苏州', value: 50},
              {name: '茂名', value: 50},
              {name: '嘉兴', value: 51},
              {name: '长春', value: 51},
              {name: '胶州', value: 52},
              {name: '银川', value: 52},
              {name: '张家港', value: 52},
              {name: '三门峡', value: 53},
              {name: '锦州', value: 54},
              {name: '南昌', value: 54},
              {name: '柳州', value: 54},
              {name: '三亚', value: 54},
              {name: '自贡', value: 56},
              {name: '吉林', value: 56},
              {name: '阳江', value: 57},
              {name: '泸州', value: 57},
              {name: '西宁', value: 57},
              {name: '宜宾', value: 58},
              {name: '呼和浩特', value: 58},
              {name: '成都', value: 58},
              {name: '大同', value: 58},
              {name: '镇江', value: 59},
              {name: '桂林', value: 59},
              {name: '张家界', value: 59},
              {name: '宜兴', value: 59},
              {name: '北海', value: 60},
              {name: '西安', value: 61},
              {name: '金坛', value: 62},
              {name: '东营', value: 62},
              {name: '牡丹江', value: 63},
              {name: '遵义', value: 63},
              {name: '绍兴', value: 63},
              {name: '扬州', value: 64},
              {name: '常州', value: 64},
              {name: '潍坊', value: 65},
              {name: '重庆', value: 66},
              {name: '台州', value: 67},
              {name: '南京', value: 67},
              {name: '滨州', value: 70},
              {name: '贵阳', value: 71},
              {name: '无锡', value: 71},
              {name: '本溪', value: 71},
              {name: '克拉玛依', value: 72},
              {name: '渭南', value: 72},
              {name: '马鞍山', value: 72},
              {name: '宝鸡', value: 72},
              {name: '焦作', value: 75},
              {name: '句容', value: 75},
              {name: '北京', value: 79},
              {name: '徐州', value: 79},
              {name: '衡水', value: 80},
              {name: '包头', value: 80},
              {name: '绵阳', value: 80},
              {name: '乌鲁木齐', value: 84},
              {name: '枣庄', value: 84},
              {name: '杭州', value: 84},
              {name: '淄博', value: 85},
              {name: '鞍山', value: 86},
              {name: '溧阳', value: 86},
              {name: '库尔勒', value: 86},
              {name: '安阳', value: 90},
              {name: '开封', value: 90},
              {name: '济南', value: 92},
              {name: '德阳', value: 93},
              {name: '温州', value: 95},
              {name: '九江', value: 96},
              {name: '邯郸', value: 98},
              {name: '临安', value: 99},
              {name: '兰州', value: 99},
              {name: '沧州', value: 100},
              {name: '临沂', value: 103},
              {name: '南充', value: 104},
              {name: '天津', value: 105},
              {name: '富阳', value: 106},
              {name: '泰安', value: 112},
              {name: '诸暨', value: 112},
              {name: '郑州', value: 113},
              {name: '哈尔滨', value: 114},
              {name: '聊城', value: 116},
              {name: '芜湖', value: 117},
              {name: '唐山', value: 119},
              {name: '平顶山', value: 119},
              {name: '邢台', value: 119},
              {name: '德州', value: 120},
              {name: '济宁', value: 120},
              {name: '荆州', value: 127},
              {name: '宜昌', value: 130},
              {name: '义乌', value: 132},
              {name: '丽水', value: 133},
              {name: '洛阳', value: 134},
              {name: '秦皇岛', value: 136},
              {name: '株洲', value: 143},
              {name: '石家庄', value: 147},
              {name: '莱芜', value: 148},
              {name: '常德', value: 152},
              {name: '保定', value: 153},
              {name: '湘潭', value: 154},
              {name: '金华', value: 157},
              {name: '岳阳', value: 169},
              {name: '长沙', value: 175},
              {name: '衢州', value: 177},
              {name: '廊坊', value: 193},
              {name: '菏泽', value: 194},
              {name: '合肥', value: 229},
              {name: '武汉', value: 273},
              {name: '大庆', value: 279},
              {name: '贺州学院', value: 279},
              {name: 'P城', value: 279}
          ],
          new_data:[],
          is_support:false
      };
      var loginVue=new Vue({
          el:"#login_config",
          data:loginDatas,
          watch:{
              search_text:function (value) {
                  loginDatas.new_data=[];
                  if(loginDatas.is_selected==="N"){//执行顺序：2
                      for(var i=0;i<loginDatas.data.length;i++){
                          if(loginDatas.data[i].name.indexOf(value,0)!==-1){
                              loginDatas.new_data.push(loginDatas.data[i].name);
                          }
                      }
                  }
              }
          },
          methods:{
              querylogin:function () {
                  $.ajax({
                      url:'/PetsCT/loginvalidate',
                      type: 'POST',
                      data:JSON.stringify({"user_name":loginDatas.currentInfo.user_name,"password":loginDatas.currentInfo.password}),
                      dataType: 'json',
                      contentType: "application/json; charset=utf-8",
                      success: function (result) {
                          if(result.success){
                              if(result.data.is_lock===1){
                                  //java后台还没有回滚
                                  swal({
                                      title:"该用户已被锁定",
                                      imageUrl:"./resource/images/dog_load.gif",
                                      showConfirmButton: true,
                                      allowOutsideClick: false,
                                      allowEscapeKey: false
                                  }).catch(swal.noop());
                              }else{
                                  swal({
                                      title:"登陆中",
                                      imageUrl:"./resource/images/dog_load.gif",
                                      showConfirmButton: false,
                                      allowOutsideClick: false,
                                      allowEscapeKey: false
                                  }).catch(swal.noop());
                                  setTimeout(function (){
                                  if(result.data.user_type===1){
                                      location.href='/PetsCT/home/admin/admin.html';
                                  }else{
                                      location.href='/PetsCT/home/user/userindex.html';
                                  }},2000);
                              }
                          }else{
                              swal({
                                  type:"error",
                                  text: result.message,
                                  title:"操作错误",
                                  showConfirmButton: true,
                                  allowOutsideClick: false,
                                  allowEscapeKey: true
                              }).catch(swal.noop());
                          }
                      }
                  });
              },
              /**
               * 注册新账号
               * */
              register:function () {
                  var that=this;
                  var user_name=$("#name").val().trim();
                  var pwd1=$("#pwd").val().trim();
                  var pwd2=$("#pwd2").val().trim();
                  var district=$("#district").val().trim();
                  if(user_name.length===0||pwd1.length===0||pwd2.length===0||district.length===0){
                      swal({
                          type:"error",
                          text:"请输入完整的信息",
                          //imageUrl:"../resource/images/dog_load.gif",
                          showConfirmButton: true,
                          allowOutsideClick: false,
                          allowEscapeKey: false,
                          timer:2000
                      });
                      return;
                  }
                  if(pwd1!==pwd2){
                      swal({
                          type:"error",
                          text:"密码不一致",
                          //imageUrl:"../resource/images/dog_load.gif",
                          showConfirmButton: true,
                          allowOutsideClick: false,
                          allowEscapeKey: false,
                          timer:2000
                      });
                      return;
                  }
                  for(var i=0;i<loginDatas.data.length;i++){
                      if(loginDatas.data[i].name===district){
                          loginDatas.is_support=true;
                          break;
                      }else{
                          loginDatas.is_support=false;
                      }
                  }
                  if(loginDatas.is_support===false){
                      swal({
                          type:"error",
                          text:"暂未支持该地区的用户注册",
                          //imageUrl:"../resource/images/dog_load.gif",
                          showConfirmButton: true,
                          allowOutsideClick: false,
                          allowEscapeKey: false,
                          timer:2000
                      });
                      return;
                  }
                  $.ajax({
                      url:'/PetsCT/register',
                      type: 'POST',
                      data:JSON.stringify({"user_name":user_name,"password":pwd1,"district":district}),
                      dataType: 'json',
                      contentType: "application/json; charset=utf-8",
                      success:function (result) {
                          if(result.success){
                              loginDatas.currentInfo.user_name=user_name;
                              loginDatas.currentInfo.password=pwd1;
                              //情况输入框，关闭modal
                              $("#name").val("");
                              $("#pwd").val("");
                              $("#pwd2").val("");
                              $("#district").val("");
                              $("#cancel_modal").click();
                              swal({
                                  type:"success",
                                  text:"注册成功",
                                  //imageUrl:"../resource/images/dog_load.gif",
                                  showConfirmButton: true,
                                  allowOutsideClick: false,
                                  allowEscapeKey: false,
                              });
                              setTimeout(function () {
                                  that.querylogin();
                              },2000);
                          }else{
                              swal({
                                  type:"error",
                                  text:"用户名已存在",
                                  //imageUrl:"../resource/images/dog_load.gif",
                                  showConfirmButton: true,
                                  allowOutsideClick: false,
                                  allowEscapeKey: false,
                                  timer:1000
                              });
                          }
                      }
                  });
              },
              /**
               * 选择框里面的数据
               * */
              search_selected:function (resdata) {
                  //console.log(resdata.srcElement.text)//这个是里面的value值，F12看到的...
                  Vue.set(loginDatas,'search_text',resdata);
                  Vue.set(loginDatas,'is_selected','Y');//执行顺序：1
                  Vue.set(loginDatas,'new_data',[]);//打字内容跟选择内容一样时，将不会执行watch里面的function
                  //loginDatas.new_data=[];//把他的框清空
              }
          }
      });
  </script>
  </body>
</html>
