<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间：对应接口的包名+类名 -->
<mapper namespace="cn.wdq.mapping.AdminDAO">
    <select id="queryUserType" parameterType="java.util.Map" resultType="com.alibaba.fastjson.JSONObject">
        <choose>
            <when test="userType=='online'">
                select cuserid,user_name,password,dr,user_type,is_lock,is_online,
                last_time,ip,district,ip_area from login_info where is_online= 1
            </when>
            <otherwise>
                select cuserid,user_name,password,dr,user_type,is_lock,is_online,
                last_time,district from sm_user
                <choose>
                    <when test="userType=='all'">
                        limit #{page},10
                    </when>
                    <when test="userType=='locked'">
                        where is_lock = 1
                    </when>
                    <when test="userType=='admin'">
                        where user_type=1
                    </when>
                </choose>
            </otherwise>
        </choose>
    </select>
    <select id="queryAllPage" resultType="java.lang.Integer">
        select count(1) from sm_user
    </select>
    <select id="querySearch" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select cuserid,user_name,password,dr,user_type,is_lock,is_online,
                last_time,district from sm_user where user_name like "%"#{user_name}"%"
    </select>
    <delete id="deleteCustomer" parameterType="java.lang.String">
        delete from sm_user where user_name=#{user_name}
    </delete>
    <delete id="kicking" parameterType="java.lang.String">
        delete from login_info where user_name=#{user_name}
    </delete>
</mapper>