<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wdq.mapping.PermissionDAO">
    <insert id="savePermission" parameterType="cn.wdq.entities.GroupPermission" useGeneratedKeys="true" keyProperty="pk_group">
      insert into group_permission(pk_group, group_code, group_name, pk_resource)
      values (#{pk_group}, #{group_code}, #{group_name}, #{pk_resource})
    </insert>
</mapper>